name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Release
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            3.1.x
            6.0.x
          include-prerelease: True
        env:
          DOTNET_INSTALL_DIR: C:\Program Files\dotnet
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Run Tests
        run: dotnet test --configuration Release --no-build
      - name: Generate NuGet packages
        run: dotnet pack --configuration Release --output ./packages --no-restore --include-symbols -p:SymbolPackageFormat=snupkg
      - name: Publish packages
        run: |
          Get-ChildItem -Path ./packages/ -Filter *.nupkg -File -Name | ForEach-Object {
            dotnet nuget push ./packages/$_ --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
          }
        shell: pwsh
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body_path: LATESTCHANGES.md
          prerelease: ${{ contains(github.ref, 'beta') || contains(github.ref, 'alpha') }}